@charset "UTF-8";

/*共通部分(影響大→影響小へと書いていくらしい)
--------------------------------------*/
html{
    font-size: 100%
}
body{
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", "sans-serif";
    line-height: 1.7;
    color: #432;
    background-color: #fbf1e7;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
img{
    max-width: 100%;
}

/*　レイアウト*/
.wrapper{
    max-width: 1120px;
    margin: auto;
    padding: 0 1.5rem;
}
.align-center{
    text-align: center; /*ロゴの画像*/
}

/*見出し*/
.font-english{
    font-family: "philosopher", "sans-serif";
    font-weight: normal;
}

.page-title{          
    font-size: 12vw;
    text-align: center;
    font-weight: bold;
    margin:1rem auto 1.5rem;
    line-height: 1.4;
}

.heading-large{
    font-size: 8vw;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bold;
}

/*　ボタン*/
.btn{
    height: 80%;
    display: inline-block;
    font-size: 1rem;
    background-color: #0bd;
    color: #fff;
    border-radius: 8px;
    padding: .4rem .8rem;
    transition: .5s;
}
.kanrisya p{
    white-space: nowrap;
}
.btn:hover{
    background-color: #0090aa;
}

/* card */
.card{
    border: 1px solid #c9c2bc;
    border-radius: 16px;
    padding: 2rem;
    background-color: #eaf6fd;
    box-shadow: 0 8px 20px rgba(0,0,0,.08);
}

/*ヘッダー
----------------------------------------*/
.page-header{
    padding-top: .5rem;
}
.logo{
    width: 210px;
}
.main-nav{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    list-style: none;
}

.main-nav a{
    color: #432;
}
.main-nav a:hover{
    color: #0bd;
}

/* ヘッダーカバー画像
------------------------------- */
.cover{
    background-size: cover;
    background-position: center bottom;
    height: 800px;
}

/* 全画面共通 */
.cover-top{
    background-image: url(../images/top.png);
    background-size: contain;
    background-position: center top; 
    padding-top: 50vh;
}
.info th{
    padding-left: 2.5rem;
}
.info{
    width: 100%;
    max-width: 544px;
    margin: auto;
    padding: 0 1.5rem;
    border-spacing: 0;
}
.info th,
.info td{
    border-bottom: 1px solid #c9c2bc;
}
.info th{
    text-align: left;
    font-weight: normal;
    padding: 1rem;
}
.info td{
    padding: 1rem 0;
}


/* HOME */
.cover p{
    max-width: 736px;
    padding: 0 1.5rem;
    margin: 0 auto 0;
    text-align: center;
}

.daga-profile{
    max-width: 736px;
    padding: 0 1.5rem;
    margin: 1rem auto 4rem;
}
.daga-profile p{                  /* aboutの中のp */
    margin-bottom: 3rem;
}
.daga-miryoku{
    color: #004EAA;
}
.miryoku h6{
    margin-bottom: 1rem;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    font-weight: bold;
    text-align: center;
}
.miryoku p{
    margin: 5px 10px;
    font-size: 1rem;
    line-height: 1.7;
}
.miryoku img{
    border-radius: 16px;
}
.miryoku{
    margin:1rem;
}

/* Creator */
.UI-profile-shot img{
    margin:.5rem 1rem;
}
.item img{
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 16px;
}
.genkyu{
    margin: 6rem auto 2rem;
    text-align: center;
    color: #004EAA;
}
.ivent{
    margin: 6rem auto 2rem;
    text-align: center;
    color: #AA0000;
}

.ivent-1,
.ivent-2{
    margin: 2rem auto 2rem;
    max-width: 800px; 
    width: 90%;
    font-weight: bold;
}
.ivent-1 h6,
.ivent-2 h6{
    margin-bottom: 1rem;
    font-size: 6vw;
    font-weight: bold;
    text-align: center;
    color: #f5a500;
}
.ivent-1 p,
.ivent-2 p{
    font-size: clamp(.5rem, 2vw, 1rem);
}
.ivent-1 img,
.ivent-2 img{
    border-radius: 10px;
}


/* SNS */
.twitter-tweet{
    margin:6rem auto 2rem;
    max-width: 100% !important;
    width: 100% !important;
}
.twitter-tweet iframe {
    width: 100% !important;
    max-width: 100% !important;
}
.sns-youtube {
    width: 90%;       /* ← ここで余白を作る */
    max-width: 800px;    /* ← 大画面で広がりすぎない */
    margin: 0 auto;      /* ← 中央寄せ */
}
.top-youtube{
    margin:6rem auto 2rem;
    color: #AA0000;
}

.youtube-box {
    aspect-ratio: 16/9;
    width: 100%;
}
.youtube-box iframe {
    width: 100%;
    height: 100%;
}


 /* About this sitey */
.About-this-site{
    width: 90%;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: bold;
}
.About-this-site li{
    margin-bottom: 1rem; 
}
.kanrisya{
    display: flex;
    gap: .1rem;
    margin-bottom: 4rem;
}
.kanrisya p{
    padding: 1rem;
    margin-top: 1.1rem ;
}
.kanrisya a{
    margin-top: 1.5rem ;
}


/* フッター */
.page-footer{
    background-image:url(../images/footer.png);
    background-size: cover;
}
.page-footer{
    padding-top: 12rem;
    font-weight: bold;
}

.copyright{
    background-color: #432;
    text-align: center;
    padding: 2rem 0;
    margin-top: 6rem;
    color: #fff;
}
.footer{
    max-width:48%;
    margin: auto;
}

/*320～500px
----------------------------------------*/
@media (max-width: 500px){
    .cover{
        height: 550px;
    }
    .cover-top{
        padding-top: 30vh;
    }
    .tyousei-1{
        margin-top:5rem;
    }
}

/*デスクトップ
----------------------------------------*/
@media (min-width: 800px){
    /*見出し */
    .page-title{
        font-size:5rem;
        margin:0 auto 1.5rem
    }
    .heading-large{
        font-size: 4rem;
    }
    

    /*ヘッダー */
    .page-header{
        display: flex;
        justify-content: space-between;
        padding-top: 1.5rem;
    }
    .main-nav {
        font-size: 2rem;
    }

    /* 共通トップ画像 */
    .cover-top{
        padding-top: 70vh;
    }

    /*　HOME */
    .daga-profile{
        display: flex;
        gap: 1rem;
    }
    .daga-profile-info{
        padding: 2rem 2rem ;
    }
    .daga-profile-shot,
    .daga-profile-info{
        width: 49%;
    }
    /* 画像をテーブルの高さに合わせる */
    .daga-profile-shot img{
        width: 100%;
        height: 80%;
        object-fit: cover;
        border-radius: 10px;
    }
    .test{
        display: flex;
        align-items: stretch;
    }
    
    .miryoku{
        width: 33%;
        max-width: 700px;
        margin: 5px 2px;
    }
    .miryoku h6{
        font-size: 1.5rem;
    }
    .miryoku-1 img{
        width: 80%;
        margin: 0 auto 2px;
        display: block;
        object-fit: contain;
    }

    /* Creator */
    .tyousei{
        line-height: 2;
        padding: 1rem;
    }
    .UI-profile{
        display: flex;
        gap: 1rem;
        justify-content: center;
        max-width: 800px;   
        margin: 0 auto; 
    }
    .UI-profile-info{
        padding: 2rem 2rem;
    }
    .UI-profile-shot,
    .UI-profile-info{
        width: 49%;
    }
    /* 画像をテーブルの高さに合わせる */
    .UI-profile-shot img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        display: block;
    }
    .ivent-1 h6,
    .ivent-2 h6{
        font-size: 2.5rem;
    }

    .item img{
        margin-bottom: 1rem;
        height: 100%;
        width: 100%;
    }
    .item{
        display:grid;
        grid-column: 1/3;
        grid-row: 1/3;
    }

}
